* {
    box-sizing: border-box;
  }
  
.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding: 15px;
}
.content{
  height: calc(100% - 13em);
  background-image: url("./images/JiTeQn.jpg");
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
  font-family: "Lucida Sans", sans-serif;
  height: 100%;
  margin: 0;
}

.header {
color: #33b5e5;
text-align: center;
display: flex;
height: 11em;
}

.menu {
    height: 100%;
    margin: 0;

}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.menu li {
padding: 8px;
margin-bottom: 7px;
background-color: #33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
text-align: center;
}

.menu li:hover {
background-color: #0099cc;
}

.keys a {
  padding: 5px;
  background-color: #33b5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a {
  color: blue;
  text-decoration: blink;
}

.page {
  /* text-align: center; */
}

.Footer {
padding: 5xpx;
text-align: center;
height: 2em;
/* background-image: url("./images/footer.png"); */
}

#welcome button {
  padding: 8px;
  margin-left: 1em;
  margin-top: 1em;
  background-color: #33b5e5;
  color: white;
  font-size: 30px;
}

Content H1 {
  color: #9933cc;
  padding: 10px;
}

/* .keyContainer {
  display: flex;
  justify-content: space-evenly;
} */

.error {
  color: red;
}

/* .game_link {
  padding-bottom: 20px;
} */
.game {
  flex-grow: 0;
    display:inline-block;
}

.gameDisplay{
  flex-grow: 1000;
  display:inline-block;
}
.creators_details {
  /* height: 50vh;
  width: 50vh; */
}

.game {
  background-color: black;
}