* {
  box-sizing: border-box;
}

@font-face {
  font-family: "pacmanFont";
  src: url("../fonts/PAC-FONT.TTF") format("truetype");
}

/* 
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
} */
.no-margin {
  margin: 0;
}

.header {
  font-family: "pacmanFont";
  font-size: 100px;
  color: #e5bb2a;
}

.body {
  background-image: url("./images/PacmanHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: 78vh;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

html,
body {
  font-family: "Lucida Sans", sans-serif;
  height: 100%;
  margin: 0;
}

.crop {
  width: 600px;
  height: 150px;
  overflow: hidden;
}

.crop img {
  width: 700px;
  height: 300px;
  margin: -10px -150px 0 -10px;
}

.menu {
  height: 100%;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}

.menu li:hover {
  background-color: #0099cc;
}
.nice-fa {
  font-size: 25px;
}
.keys a {
  padding: 5px;
  background-color: #33b5e5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a {
  color: white;
  text-decoration: blink;
}

/* .Footer {
  padding: 5xpx;
  text-align: center;
  height: 2em;
  /* background-image: url("./images/footer.png"); */
/* } */

*/ #welcome button {
  padding: 8px;
  margin-left: 1em;
  margin-top: 1em;
  background-color: #33b5e5;
  color: white;
  font-size: 30px;
}

Content H1 {
  color: #9933cc;
  padding: 10px;
}

.error {
  color: red;
}

.game {
  flex-grow: 0;
  display: inline-block;
}

.gameDisplay {
  flex-grow: 1000;
  display: inline-block;
}

.creators_details {
  /* height: 50vh;
  width: 50vh; */
}

.game {
  background-color: black;
}

#game_settings {
  background-color: white;
}

.menu_button {
  width: 7em;
  margin-bottom: 1em;
}

.menu_button a {
  color: #ffc107;
}

.alert-black {
  background-color: #000000;
  margin-left: 10.8em;
}
.footer {
  font-family: "pacmanFont";
  font-size: 20px;
  color: #7cfc00;
}
.centify {
  margin-left: 1.8em;
}
.terminal-like {
  color: #7cfc00;
  background-color: #000000;
}
.card-terminal {
  width: 34em;
}

.card-terminal-r {
  width: 40em;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 2px;
}
.hidden {
  opacity: 0;
}
.console-container {
  color: white;
  top: 0;
  height: 8em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.terminal-button {
  border-color: #7cfc00;
  color: #7cfc00;
}

.stay-home {
  cursor: pointer;
  font-size: 25px;
}
.terminal-container {
  height: 8em;
}

.terminal-container-r {
  height: 28em;
}

.title {
  font-size: 25px;
}

.log {
  margin-bottom: 1em;
}

.hide {
  margin-top: -20px;
}
.fatty-fatty-bum-bum {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 1em;
}

.down {
  margin-top: 2em;
}
.custom-modal {
  max-height: 10em;
}
.about-modal {
  max-height: 20em;
}
